@using InstrumentationAccountingSystem2.BusinessLogic.Interfaces

@model InstrumentationAccountingSystem2.Models.Instrumentation
@inject ITypeService TypeService
@inject ILocationService LocationService

@{
    List<InstrumentationAccountingSystem2.Models.Type> types = new List<InstrumentationAccountingSystem2.Models.Type> { };
    foreach (var item in @TypeService.GetAll())
    {
        types.Add(item);
    }
    List<InstrumentationAccountingSystem2.Models.Location> locations = new List<InstrumentationAccountingSystem2.Models.Location> { };
    foreach (var item in @LocationService.GetAll())
    {
        locations.Add(item);
    }
}

<div style="font-size:large">Добавить СИ</div>
<div>
    <form asp-action="CreateInstrumentation" asp-controller="home" style="display:flex; flex-wrap:wrap; justify-content:space-between;">
        <div>
            <label asp-for="TypeId">Тип СИ</label><br />
            <select name="TypeId" id="TypeId">
                <option value=""></option>
                @foreach (var item in types)
                {
                    <option value="@item.Id">@item.Id. @item.Name</option>
                }
            </select>
            <span asp-validation-for="@TypeService"></span>
        </div>
        <div>
            <label asp-for="Model">Модель</label><br />
            <input type="text" asp-for="Model" />
            <span asp-validation-for="Model"></span>
        </div>
        <div>
            <label asp-for="FactoryNumber">Заводской номер</label><br />
            <input type="text" asp-for="FactoryNumber" />
            <span asp-validation-for="FactoryNumber"></span>
        </div>
        <div>
            <label asp-for="LocationId">Место установки</label><br />
            <select name="LocationId" id="LocationId">
                <option value=""></option>
                @foreach (var item in locations)
                {
                    <option value="@item.Id">@item.Id. @item.Name</option>
                }
            </select>
            <span asp-validation-for="@LocationService"></span>
        </div>
        <div>
            <label asp-for="MeasurementLimits">Пределы измерений</label><br />
            <input type="text" asp-for="MeasurementLimits" />
            <span asp-validation-for="MeasurementLimits"></span>
        </div>
        <div>
            <label asp-for="Frequency">Периодичность измерений</label><br />
            <input type="text" asp-for="Frequency" value="12" />
            <span asp-validation-for="Frequency"></span>
        </div>
        <div>
            <label asp-for="Connection">Присоединение к процессу</label><br />
            <input type="text" asp-for="Connection" />
            <span asp-validation-for="Connection"></span>
        </div>
        <div>
            <label asp-for="Comment">Примечание</label><br />
            <textarea type="text" asp-for="Comment" maxlength="250" rows="4" cols="40"></textarea>
            <span asp-validation-for="Comment"></span>
        </div>
        <div class="w-100">
            <input type="submit" value="Добавить" />
        </div>
    </form>
</div>

